
<!DOCTYPE html>
<html lang="en" ng-app="studentRegistrationApp">
<head>
    <meta charset="UTF-8">
    <title>Student Registration</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="RegistrationController">

    <h2>Student Registration Form</h2>

    <form ng-submit="submitForm()">
        <label>First Name:
            <input type="text" ng-model="student.firstName" required pattern="[a-zA-Z]+" title="Alphabets only">
        </label><br><br>
        <label>Last Name:
            <input type="text" ng-model="student.lastName" required pattern="[a-zA-Z]+" title="Alphabets only">
        </label><br><br>
        <label>Age:
            <input type="number" ng-model="student.age" required min="18" max="50">
        </label><br><br>
        <button type="submit">Register</button>
    </form>

    <div ng-show="greetingMessage">
        <p>{{ greetingMessage }}</p>
    </div>

    <script>
        angular.module('studentRegistrationApp', [])
            .controller('RegistrationController', function($scope) {
                $scope.student = {};

                $scope.submitForm = function() {
                    // Simulate registration
                    console.log('Registration data:', $scope.student);
                    
                    // Simulate setting greeting message
                    $scope.setGreetingMessage();
                };

                $scope.setGreetingMessage = function() {
                    var currentTime = new Date().getHours();
                    if (currentTime < 12) {
                        $scope.greetingMessage = 'Good Morning!';
                    } else if (currentTime < 18) {
                        $scope.greetingMessage = 'Good Afternoon!';
                    } else {
                        $scope.greetingMessage = 'Good Evening!';
                    }
                };
            });
    </script>

</body>
</html>
